* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.main-wrapper {
  width: 100%;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section:after {
  content: " ";
  display: block;
  clear: both;
}

/* ----------------------------- */
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
  url(../images/background.jpeg) no-repeat center;
  background-size: cover;
}

header div.center-text {
  width: 80%;
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: center;
  text-transform: uppercase;
}
